QSS-M-l64
QSS-M-l64*
*.txt
*/*.txt
id1/*.pak
!id1/pak2.pak
!id1/pak3.pak
!id1/pak4.pak
!id1/pak5.pak
!id1/pak6.pak
*/*.dat
*.dat
*/config.cfg
*/settings.cfg
*/*.sav
*/*/*.ogg
quakespasm.pak
qssm.pak
*.sh
!*/progs.dat
!*/csprogs.dat
*/demos
*/screenshots
*/qc_src/fteqcc.log
*/progs.lno
*.log
*/backups/
fteqcc32
frikbot1+fortress/
crx/
scarlet+block/
id1/*.cfg
notes.txt
*.zip
vkquake*
vkQuake*