QSS-M-l64
*.txt
*/*.txt
*/*.pak
*/*.dat
*.dat
*/config.cfg
*/settings.cfg
*/*.sav
*/*/*.ogg
!quakespasm.pak
reset.sh
!*/progs.dat
frikbot4/demos
frikbot4/screenshots
frikbot4/qc_src/fteqcc.log
frikbot4/progs.lno
*.log