QSS-M-l64
*.txt
*/*.txt
id1/*.pak
!id1/pak1.pak
*/*.dat
*.dat
*/config.cfg
*/settings.cfg
*/*.sav
*/*/*.ogg
!quakespasm.pak
reset.sh
!*/progs.dat
!*/csprogs.dat
*/demos
*/screenshots
*/qc_src/fteqcc.log
*/progs.lno
*.log
*/backups/
fteqcc32
frikbot1+fortress/
crx/
scarlet+block/
id1/*.cfg